<div class="slide-encapsulation">
        Search Presentations: <input type="text" name="Find"><br>
        <button *ngIf="logged" routerLink="/edit">Create new presentation</button>
    <div class="slide miniature" *ngFor="let presentation of P; index as i">
            <button *ngIf="presentation.owner == user.name" (click)="deletePresentation(i)">Delete</button>
            <button (click)="teste()">Present</button>
            <button *ngIf="presentation.owner == user.name">Edit</button>
        <div id="page" [style.backgroundImage]="'url(' + presentation.background + ')'">
            <div *ngFor="let element of presentation.slides[0].elements" [ngStyle]="element.style" [innerHtml]="element.data"></div>
        </div>
    </div>
</div>