<header>
    OPUS internSlides
    <button class="btn btn-default" *ngIf="_data.user" data-toggle="modal" data-target="#modalCreate" (click)="openModalCreate()">New presentation <fa-icon [icon]="faPlusSquare"></fa-icon></button>
    <button class="btn btn-default" *ngIf="!_data.user" data-toggle="modal" data-target="#modalSignUp" (click)="openModalCreate()">Sign up <fa-icon [icon]="faUserPlus"></fa-icon></button>
    <button class="btn btn-default" *ngIf="!_data.user" data-toggle="modal" data-target="#modalLogin" (click)="openModalLogin()">Sign in <fa-icon [icon]="faSignInAlt"></fa-icon></button>
    <button class="btn btn-default" *ngIf="_data.user" (click)="logout()">Logout <fa-icon [icon]="faSignOutAlt"></fa-icon></button>
    <!-- <div *ngIf="_data.user">Olá {{_data.user.name}}</div> -->
</header>
<div class="slide-encapsulation">

    <div class="presentations-user" *ngIf="_data.user">
        <h2>Your Presentations</h2>
        <div *ngFor="let presentation of P; index as i">
            <div   class="presentation-buttons-user" *ngIf="presentation.owner == _data.user.name">
                <button class="btn btn-default" (click)="present(i)">Present <fa-icon [icon]="faPlay"></fa-icon></button>
                <button class="btn btn-default" (click)="editPresentation(i)">Edit <fa-icon [icon]="faPencilAlt"></fa-icon></button>
                <button class="btn btn-default" data-toggle="modal" data-target="#modalDelete" (click)="indexDelete = i">Delete <fa-icon [icon]="faMinusSquare"></fa-icon></button>
            </div>
            <div class="slide-wrapper">
                <div class="slide miniature" *ngIf="presentation.owner == _data.user.name"
                    [style.backgroundImage]="'url(' + presentation.background + ')'">
                    <div *ngIf="presentation.owner == _data.user.name" id="page">
                        <div *ngFor="let element of presentation.slides[0].elements" [ngStyle]="element.style"
                            [innerHtml]="element.data"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="presentations-all">

        <h2>Popular Presentations</h2>
        <div *ngFor="let presentation of P; index as i">
            <div class="presentation-buttons" *ngIf=" (!_data.user || _data.user.name !== presentation.owner)">
                <button class="btn btn-default" (click)="present(i)">Present <fa-icon [icon]="faPlay"></fa-icon></button>
            </div>
            <div class="slide-wrapper">
                <div *ngIf=" (!_data.user || _data.user.name !== presentation.owner)" class="slide miniature"
                    [style.backgroundImage]="'url(' + presentation.background + ')'">
                    <div id="page">
                        <div *ngFor="let element of presentation.slides[0].elements" [ngStyle]="element.style"
                            [innerHtml]="element.data"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal bootstrap para login -->
<div class="modal fade" id="modalLogin" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Do Login</h4>
            </div>
            <div class="modal-body">
                <div>
                    <label for="uname"><b>Username:</b></label>
                    <input type="text" placeholder="Enter Username" #modalusername [(ngModel)]="username" style="top:20vh">
                </div>
                <div>
                    <label for="psw"><b>Password:</b></label>
                    <input type="password" placeholder="Enter Password" (keyup.enter)="login()" [(ngModel)]="password">
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" id="dismiss" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-default btn-primary" data-dismiss="modal" (click)="login()">Login</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal bootstrap para add novo slide -->
<div class="modal fade" id="modalCreate" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">New Presentation</h4>
            </div>
            <div class="modal-body">
                <div>
                    <label for="uname"><b>Name:</b></label>
                    <input type="text" placeholder="Enter Presentation Name" [(ngModel)]="username" style="top:20vh">
                </div>
                <div>
                    <label for="psw"><b>Background Image URL:</b></label>
                    <input type="text" placeholder="Empty for None" (keyup.enter)="newPresentation()" [(ngModel)]="password">
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-default btn-primary" data-dismiss="modal" (click)="newPresentation()">Create</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal bootstrap para confirmar deleção -->
<div class="modal fade" id="modalDelete" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Attention!</h4>
            </div>
            <div class="modal-body">
                <label><b>Are you sure to delete this presentation?</b></label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-default btn-danger" data-dismiss="modal" (click)="deletePresentation(indexDelete)">Yes, Delete.</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal bootstrap para SignUp -->
<div class="modal fade" id="modalSignUp" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Create a New Account</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <label for="uname"><b>Name:</b></label>
                        <input type="text" placeholder="Enter Username" #modalusername [(ngModel)]="username" style="top:20vh">
                    </div>
                    <div>
                        <label for="psw"><b>Password:</b></label>
                        <input type="password" placeholder="Enter Password" (keyup.enter)="signUp()" [(ngModel)]="password">
                    </div>
    
    
                </div>
                <div class="modal-footer">
                    <button type="button" id="dismiss" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-default btn-primary" data-dismiss="modal" (click)="signUp()">Create</button>
                </div>
            </div>
        </div>
    </div>