<div class="toolbar-tools" (key.enter)="deleteElement()">
  <div class="toolbar-body">
    <div class="tabs">
      <input class="input" name="tabs" type="button" id="tab-1" (click)="goFull()" />
      <label class="label" for="tab-1">Present <fa-icon [icon]="faPlay"></fa-icon></label>

      <input type="radio" class="input" name="tabs" id="tab-3" [value]="toolbarActive.addElement" [(ngModel)]="activeToolbarElement" />
      <label (click)="activeElement=undefined; activeElementChange.emit();" class="label" for="tab-3">Add
        an Element <fa-icon [icon]="faPlusSquare"></fa-icon></label>

      <input type="radio" class="input" name="tabs" id="tab-2" [value]="toolbarActive.transition" [(ngModel)]="activeToolbarElement" />
      <label (click)="activeElement=undefined; activeElementChange.emit();" class="label" for="tab-2">Slide
        Options <fa-icon [icon]="faWrench"></fa-icon></label>

      <input *ngIf="activeToolbarElement === toolbarActive.editElement" type="radio" class="input" name="tabs" id="tab-4"
        [value]="toolbarActive.editElement" [(ngModel)]="activeToolbarElement" />
      <label *ngIf="activeToolbarElement === toolbarActive.editElement" class="label" for="tab-4">Edit Element <fa-icon
          [icon]="faPencilAlt"></fa-icon></label>

    </div>


    <div *ngIf="activeToolbarElement === toolbarActive.addElement">
      <button (click)="addNewElement(typeOfElement.titlefield)">Add a Title <fa-icon [icon]="faPencilAlt"></fa-icon></button>
      <button (click)="addNewElement(typeOfElement.textfield)">Add a Text <fa-icon [icon]="faPencilAlt"></fa-icon></button>
      <button (click)="addNewElement(typeOfElement.image)">Add a image <fa-icon [icon]="faImage"></fa-icon> </button>
    </div>
    <!-- Button to open the modal login form -->
    <button onclick="document.getElementById('modalLogin').style.display='block'">Login</button>

    <!-- The Modal -->
    <div id="modalLogin" class="modal">
      <span onclick="document.getElementById('modalLogin').style.display='none'" class="close" title="Close Modal">&times;</span>
      <!-- Modal Content -->
      <form class="modal-content animate" action="/manage">
          <div style="position:relative; top:20%;">
            <label for="uname"><b>Username:</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required>
          </div>
          <div style="position:relative; top:40%; ">
            <label for="psw"><b>Password:</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>
          </div>
  
          <div style="position:relative; top:60%; left: 30%;">
            <button routerLink="/manage">Login</button>
            <button type="button" onclick="document.getElementById('modalLogin').style.display='none'" class="cancelbtn">Cancel</button>

          </div>
      </form>
    </div>
   

    <div *ngIf="activeToolbarElement === toolbarActive.editElement">

      <div>
        <button *ngIf="activeElement !== undefined && activeElement.type == typeOfElement.image" (click)="changeImage()">Change Image <fa-icon [icon]="faImage"></fa-icon>
        </button>

        <button *ngIf="(activeElement !== undefined && activeElement.type == typeOfElement.textfield) ||
        (activeElement !== undefined && activeElement.type == typeOfElement.titlefield)"
          (click)="changeText()">Change Text <fa-icon [icon]="faPencilAlt"></fa-icon></button>

        <button (click)="removeElement()">Delete Element <fa-icon [icon]="faMinusSquare"></fa-icon></button>

        <button onclick="document.getElementById('element-background-color').click();">Background Color<fa-icon [icon]="faPalette"></fa-icon></button>

        <input [hidden]="true"  *ngIf="(activeElement !== undefined && activeElement.type === typeOfElement.textfield) ||
          ( activeElement !== undefined && activeElement.type === typeOfElement.titlefield) || (activeElement !== undefined && activeElement.type === typeOfElement.image)"
          id="element-background-color" type="color" [(ngModel)]="activeElement.style['background-color']" />

        <button *ngIf="(activeElement !== undefined && activeElement.type == typeOfElement.textfield) || (activeElement !== undefined && activeElement.type == typeOfElement.titlefield)"
          id="slide-background-color-default" (click)="removeActiveElementBgColor()" [hidden]="activeElement.style['background-color'] === undefined || presentation.slides[activeSlide].bgcolor === activeElement.style['background-color']">Remove
          color <fa-icon [icon]="faPalette"></fa-icon>
          <fa-icon [icon]="faMinusSquare"></fa-icon>
        </button>

      </div>
    </div>
    <div *ngIf="activeToolbarElement === toolbarActive.transition">
      <div style="float:left">
        <div>
          <fa-icon [icon]="faPlusSquare"></fa-icon> Add a new Slide:
        </div>
        <button (click)="addNewTSlide()">Title Slide</button>
        <button (click)="addNewTSSlide()">Title+Sub Slide</button>
        <button (click)="addNewTSTSlide()">Title+Sub+Text Slide</button>
        <button (click)="addNewBSlide()">Blank Slide</button>
      </div>

      <div> <div>Active Slide Options:</div>
        <button (click)="removeSlide()">Remove Slide <fa-icon [icon]="faMinusSquare"></fa-icon></button>
        <button onclick="document.getElementById('slide-background-color').click();">Background Color<fa-icon [icon]="faPalette"></fa-icon></button>
        <input id="slide-background-color" type="color" value="#c4c4c4" (change)="setRGB($event.target.value)" [hidden]="true" />
        <label>Transiction Effect:</label>
        <select [(ngModel)]="presentation.slides[activeSlide].transition">
          <option value="{{transition.default}}">Default</option>
          <option value="{{transition.slideLeft}}">Slide Left</option>
          <option value="{{transition.spinLeft}}">Spin Left</option>
          <option value="{{transition.fadein}}">Fade in</option>
        </select>
      </div>
    </div>
  </div>
</div>