<div class="toolbar-tools" (key.enter)="deleteElement()">
  <!-- <div class="toolbar-tabs">tabs</div> -->
  <div class="toolbar-body">
    <button (click)="goFull()">Present!</button>
    <button (click)="toogleMenu('transition')"> {{activeToolbarElement === toolbarActive.transition ? 'Hide this menu' : 'Choose Transition Effect'}}</button>
    <button (click)="addNewSlide()">Add a new Slide</button>
    <button (click)="removeSlide()">Remove Active Slide</button>
    <button (click)="toogleMenu('element')">
      {{activeToolbarElement === toolbarActive.addElement ? 'Hide Add Element Menu' :'Add a new Element'  }}
    </button>
    <label for="slide-background-color">Escolha a cor de fundo do slide :</label> 
    <input id="slide-background-color" type="color" value="#ff0000" (change)="hexToRGB($event.target.value)"/>

    <div [hidden]="activeToolbarElement !== toolbarActive.addElement">
      <button (click)="addNewElement(typeOfElement.titlefield)">Add a Title</button>
      <button (click)="addNewElement(typeOfElement.textfield)">Add a Text</button>
      <button (click)="addNewElement(typeOfElement.image)">Add a image</button>
    </div>

    <div *ngIf="activeToolbarElement === toolbarActive.editElement">Options for the current element:
      <div>
        <div *ngIf="activeElement.type == typeOfElement.image">
          <button (click)="changeImage()">Change Image</button>
        </div>
        <div *ngIf="activeElement.type == typeOfElement.textfield ||
        activeElement.type == typeOfElement.titlefield">
          <button (click)="changeText()">Change Text</button>
          <label for="element-background-color">Pick a background color :</label> 

          <input id="element-background-color" type="color" value="#ff0000" [(ngModel)]="activeElement.style['background-color']"/>
        </div>
        <button (click)="removeElement()">Remove Element</button>
      </div>
    </div>
    <div *ngIf="activeToolbarElement === toolbarActive.transition">
      <select> 
        <option *ngFor="let x of transition"></option>
      </select>
    </div>
  </div>