@import '../../styles.scss';

.toolbar-tools {
    position: absolute;
    left: 15%;
    width: $width-toolbar;
    background-color: lightcoral;
    min-height: $height-toolbar;
    max-height: $height-toolbar;
    margin-top: 0px;
    overflow: hidden;
}

.toolbar-tabs {
    background-color: white;
    width: 100%;
}

.toolbar-body {
    min-height: 100%;
}

.float-left {
    float: left;
}

* {
    box-sizing: border-box;
  }
  body {
    display: flex;
    justify-content: center;
    padding: 10px;
    background: #efefef;
    font-family: 'Source Sans Pro', sans-serif;
    color: #333;
  }
  @media (min-width: 600px) {
    body {
      padding: 60px 10px;
    }
  }
  h1 {
    margin: 0;
    font-family: 'Bree Serif', serif;
    font-size: 36px;
  }
  p {
    margin-top: 20px;
    margin-bottom: 0;
    padding: 0;
    font-size: 20px;
    line-height: 1.5;
  }
  .tabs {
    display: flex;
    flex-wrap: wrap;
    // max-width: 700px;
    background: #e5e5e5;
    box-shadow: 0 48px 80px -32px rgba(0,0,0,0.3);
  }
  .input {
    position: absolute;
    opacity: 0;
  }
  .label {
    width: 100%;
    padding: 20px 30px;
    background: #e5e5e5;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    color: #7f7f7f;
    transition: background 0.1s, color 0.1s;
  }
  .label:hover {
    background: #d8d8d8;
  }
  .label:active {
    background: #ccc;
  }
  .input:focus + .label {
    box-shadow: inset 0px 0px 0px 3px #fff;
    z-index: 1;
  }
  .input:checked + .label {
    background: #fff;
    color: #000;
  }
  @media (min-width: 600px) {
    .label {
      width: auto;
    }
  }
  .panel {
    display: none;
    padding: 20px 30px 30px;
    background: #fff;
  }
  @media (min-width: 600px) {
    .panel {
      order: 99;
    }
  }
  .input:checked + .label + .panel {
    display: block;
  }
  
  /* The Modal (background) ---------------------------------------------------*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 30vh;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 15%; /* Could be more or less, depending on screen size */
  height: 60%;
  position: relative;
  padding: 20px;
}



/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0; 
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}