@import '../../styles.scss';

.toolbar-tools {
    position: absolute;
    left: 15%;
    width: $width-toolbar;
    background-color: lightcoral;
    min-height: $height-toolbar;
    max-height: $height-toolbar;
    margin-top: 0px;
    overflow: hidden;
}

.toolbar-tabs {
    background-color: white;
    width: 100%;
}

.toolbar-body {
    min-height: 100%;
}
