<div>
	<!-- <button (click)=" debug()">debug</button> -->
	<app-thumbnails-menu 
	[presentation]='presentation'
	[(activeSlide)]='activeSlide'
	[hidden]="isFullscreen"
	(click)="unselectElement()"
	> </app-thumbnails-menu>
	<app-toolbar
	[presentation]='presentation'
	[(activeSlide)]='activeSlide'
	[(isFullscreen)]="isFullscreen"
	[hidden]="isFullscreen"
	[(activeElement)]='activeElement'
	[(activeToolbarElement)]='activeToolbarElement'
	></app-toolbar>
	<app-workspace 
	[activeSlide]='activeSlide'
	[(activeElement)]='activeElement'
	[(isFullscreen)]="isFullscreen"
	[(activeToolbarElement)]='activeToolbarElement'
	></app-workspace>
</div>