@import '../../styles.scss';
// variavel que deve ser modificada para mudar tamanho da fonte proporcionalmente
$sizefontpx: 14;
$sizefont: $sizefontpx/14 + vw;

.onFull {
	left: 0;
    top: 0;
    
    /* THIS DIV DOWN HERE NEEDS WORK*/
	#page {
        /* position: fixed;
        width: 95vw;
        height: 90vh;
        margin-top: 5vh;
        margin-bottom: 5vh;
        margin-left: 2.5vw;
        margin-right: 2.5vw;
        background-color: white;
        overflow: hidden;
        font-size: $sizefont;
        float: left; */

        position: fixed;
        width: 95vw;
        height: 90vh;
        border-top: 5vh solid black;
        border-bottom: 5vh solid black;
        border-left: 2.5vw solid black;
        border-right: 2.5vw solid black;

        overflow: hidden;
        font-size: $sizefont;
        float: left;





        //padding-bottom: 40%;
        
        //left: ($width-workspace - 50vw)/2;
        //top: ($height-workspace - 70vh)/2;
        
        //transform: scale(1.6, 1.6);
        
        //border-style: dashed;
/* 
        position: relative;
        width: 40%;
        margin-left: 2.5%;
        margin-right: 2.5%;
        margin-top: 2.5%;
        //height: 100%;
        padding-bottom: 30%;
        //padding-top: 56.25%;
        background-color: white;
        overflow: hidden;
        //left: ($width-workspace - 50vw)/2;
        //top: ($height-workspace - 70vh)/2;
        font-size: $sizefont;
        transform: scale(1.8, 1.8);
        float: left; */
        div{
            transform: scale(1.5,1.5);
        }
    }
}



.onEdit {
    position: absolute;
    left: 15%;
    top: 14%;
    float: right;
    background-color: lightgrey;
    width: $width-workspace;
    min-height: $height-workspace;
	margin: 0px;
	
    #page {
        position: absolute;
        width: 60%;
        height: 0;
        padding-bottom: 40%;
        background-color: white;
        overflow: hidden;
        left: ($width-workspace - 50vw)/2;
        top: ($height-workspace - 70vh)/2;
        font-size: $sizefont;
    }
}

#paragraph_default{
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: visible;
    
}

.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

// [draggable=true] {
//    cursor: move;
// }


p{
    position: absolute;
}

.selected {
    border-style: dashed;
}
