<div class="thumbnail-body">
  <!-- REFATORAR -->
  <div class="slide-encapsulation">
    <div *ngFor="let slide of presentation.slides; index as i">
      <div class="slide miniature" [ngClass]="{'slide-active': i==activeSlide}" (click)="changeCurrentSlide(i)" [style.background-color]="'rgb(' + presentation.slides[i].bgcolor.red +
    ', '+presentation.slides[i].bgcolor.green +
     ', ' + presentation.slides[i].bgcolor.blue + ')'" [style.bottom.vh]="fixPosition(i)" [style.backgroundImage]="'url(' + presentation.background + ')'">>
     <h1>{{i+1}}</h1>
        <div *ngFor="let element of presentation.slides[i].elements" [ngStyle]="element.style" [innerHtml]="element.data"></div>
      </div>
    </div>
  </div>

</div>