/* You can add global styles to this file, and also import other style files */
$larg-thumbnail: 15vw;
$larg-workspace: 100vw - $larg-thumbnail;
$larg-toolbar: 100vw - $larg-thumbnail;

$altura-toolbar: 14vh;
$altura-workspace: 100vh - $altura-toolbar;
$altura-thumbnail: 100vh;