/* You can add global styles to this file, and also import other style files */
$width-thumbnail: 15vw;
$width-workspace: 100vw - $width-thumbnail;
$width-toolbar: 100vw - $width-thumbnail;

$height-toolbar: 15vh;
$height-workspace: 100vh - $height-toolbar;
$height-thumbnail: 100vh;